//go:build exclude

package main

import (
	"errors"
)

{{ range .Structs }}
type {{ .Table | CamelCase}} struct {
	{{- range .Schema }}
	{{ .Format.Text }} {{ .Format.Tags }}
	{{- end }}
}
{{ end }}

func GetRowInstance(table string) (interface{}, error) {
	switch table {
	{{- range .Tables }}
	case "{{ . }}":
		return new({{ . | CamelCase }}), nil
	{{- end }}
	default:
		return nil, errors.New("unknown table")
	}
}
